<!DOCTYPE html>
<html>
<head>
	<meta charset = "utf-8">
	<title> playlist</title>
	<script src = ""></script>
	<script>
		function changeDisplay(val) {
			var ids = ["Elton John","Stevie Wonder","Frank Sinatra","Louis Armstrong"];
			for(var i = 0; i < ids.length; i++) {
				if(ids[i] != val) {
					document.getElementById(ids[i]).style.display = "none";
				} else {
					document.getElementById(val).style.display = "block";
				}
			}
		}
	</script>
</head>
<body>
	<select onChange = "changeDisplay(this.value)">
		<option value = "Elton John" selected>Elton John</option>
		<option value = "Stevie Wonder">Stevie Wonder</option>
		<option value = "Frank Sinatra">Frank Sinatra</option>
		<option value = "Louis Armstrong">Louis Armstrong</option>
	</select>
	<div id = "Elton John">
		<% output1.forEach(function(name){ %>
			<%= name.snippet.publishedAt %>
		<% }) %>
	</div>
	<div id = "Stevie Wonder" style = "display:none">
		<% output2.forEach(function(name){ %>
			<%= name.snippet.publishedAt %>
		<% }) %>		
	</div>
	<div id = "Frank Sinatra" style = "display:none">
		<% output3.forEach(function(name){ %>
			<%= name.snippet.publishedAt %>
		<% }) %>		
	</div>
	<div id = "Louis Armstrong" style ="display:none">
		<% output4.forEach(function(name){ %>
			<%= name.snippet.publishedAt %>
		<% }) %>
	</div>

</body>
</html>